*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.container{
    margin: auto;
    transition: 0.5s;
    width: 1080;
    max-width: 90vw;
    text-align: center;
    align-items: center;
}

h1{
    color: gray;
}