*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.container{
    margin: auto;
    transition: 0.5s;
    width: 1080;
    max-width: 90vw;
    text-align: center;
    align-items: center;
}

h1{
    color: black;
    filter: drop-shadow(gray 5px 5px 5px);
}

img{
        max-width: 30%;
}

button{
    height: 45px;
    width: 190px;
    font-size: large;
    background-color: white;
    color: black;
    font-weight: bold;
    border-style: groove;
    box-shadow: gray 5px 5px 5px;
}